---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SECTIONS, SITE } from "@/config";
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" class="app-layout">
    <section class="app-prose max-w-none pt-8 pb-6">
      <h1>{SITE.title}</h1>
      <p>{SITE.desc}</p>
      <h2>Contents</h2>
      <ul>
        {
          SECTIONS.map(section => (
            <li>
              <a href={section.path}>{section.label}</a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
  <Footer />
</Layout>
